/* BASICS */
body {
  padding-top: 90px;
  font-family:"Elina" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
 }

 .vertical-center {
   margin: 0;
   /* position: absolute; */
   top: 50%;
   -ms-transform: translateY(-50%);
   transform: translateY(-50%);
 }

.image-right{
  text-align: right;
}

.left-align{
  text-align: left;
}

.inblock{
  display: inline-block;
}

.text-align-center{
  text-align: center;
  display: block;
}
/* BLOCKS */
.jumbo-header{
  padding-left: 0;
}

.text-of-jumbo h1{
  margin-bottom:0px;
}

/* NAVBAR */
.navbar{
  /* height: 80px; */
  padding-top: 17px;
  padding-bottom:17px;
  background-color: #ffffff;
  top: 0;
  transition-property: box-shadow;
  transition-duration: .5s;
  padding-left: 20px;
  padding-right: 20px;
}


.navbar > .container{
  padding-left: 0;
  padding-right:0;
}

.navbar.scrolled{
  box-shadow:0 0 1.8rem rgba(0,0,0,.15);
}


  .navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active {
    color: #4285F4 !important;
  }

.bg-light{
  background-color: #ffffff;
}

.the-blur{
   position: fixed;
   top:0;
   width: 100%;
   min-height: 50px;
   margin-bottom: 20px;
   background: rgba(0,0,0,.4);
   z-index:1010;
   -webkit-filter: blur(20px);
   -moz-filter: blur(20px);
   -o-filter: blur(20px);
   -ms-filter: blur(20px);
   filter: blur(20px);
}

.index-header-img{
    width:450px;
    opacity: 0;
    display: none
}
.index-header-img-2 {
  width:440px;
  margin-top: 20px;
  margin-bottom: 60px;
  /* display: none; */
}
/* JUMBO HEADER */
.jumbo-header{
  margin-top: 150px;
  margin-bottom: 0px;
  padding-left: 20px;
  padding-right:20px;
}

#jumbo-div-1{
  height: 180px;
}

.our-story-div{
  padding-top: 160px;
  padding-bottom:120px;
  padding-left:20px;
  padding-right:20px;
  background-color: #FAFAFA;
  color: #333;
}

.mission-img{
  width: 180px;
}

.align-image{
  text-align: center;
}

.intro-para p{
  margin-top: 12px;
  font-size: 20px;
  font-family: "Eina01-Regular", sans-serif;
}

.highlight{
  text-decoration: underline;
  text-decoration-color: #4285F4 ;
}

#pitch-in-black{
  margin-top:20px;
}

@media (min-width: 576px){

  #jumbo-div-1{
    height: auto;
  }


  #pitch-in-black{
    margin-top:20px;
  }

  .vertical-center {
    margin: 0;
    position: absolute;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
  }

  .align-image{
    text-align: right;
  }

  .mission-img{
    width: 420px;
  }

  .our-story-div{
    padding-top: 80px;
    padding-bottom:80px;
    padding-left:0;
    padding-right:0;
    background-color: #fbfbfd;
    color: #333;
  }

  .navbar-expand-sm .navbar-nav .nav-link {
    margin-left:1rem;
    margin-right:1rem;
  }

  .jumbo-header{
    margin-top: 50px;
    margin-bottom: 70px;
  }

  .index-header-img{
      width:520px;
      opacity: 1;
      display: inline-block;
  }

}

/* FONTS */
@font-face {
  font-family: "Eina01-Light";
  src: url(../fonts/Eina01-Light.ttf);
}

@font-face {
  font-family: "Eina01-Regular";
  src: url(../fonts/Eina01-Regular.ttf);
}

@font-face {
  font-family: "Elina01-SemiBold";
  src: url(../fonts/Eina01-SemiBold.ttf);
  font-weight: 400;
}

@font-face {
  font-family: "Elina02-Bold";
  src: url(../fonts/Eina01-Bold.ttf);
  font-weight: 900;
}

h1{
  font-size: 48px;
  font-family:"Elina02-Bold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

h2{
  font-size: 38px;
  font-family:"Elina02-Bold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

h3{
  font-size: 32px;
  font-family:"Elina02-Bold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

h4{
font-family:"Elina01-SemiBold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
font-style: normal;
font-size: 16px;
line-height: 22px;
text-align: center;
letter-spacing: -0.00460833px;
}

h5{
  font-size: 20px;
  font-family:"Elina01-SemiBold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}


p{
  font-family: "Eina01-Regular", sans-serif;
  font-size: 20px;
  font-weight: normal;
}


a{
  font-family:"Elina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: #333333;
}

a:active {
  color: #000;
}

a:hover {
  color: #4285F4;
  text-decoration: none;
}

/* BUTTONS */
.btn-primary{
  background-color: #4285F4;
  border-radius: 8px !important;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 125px;
  font-size: 16px;
  font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0);
  box-sizing: border-box;
  box-shadow: 0px 4px 0px rgba(0,0,0,0);
  transition-property: box-shadow, color, background-color, border;
  transition-duration: .2s;
}


.btn-primary:hover{
  background-color: #fff;
  border: 2px solid #4285F4;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #4285F4;
  color: #4285F4;
}

.btn-primary:active{
  background-color: #fff !important;
  border: 2px solid #4285F4 !important;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #4285F4 !important;
  color: #4285F4 !important;
}

.btn-primary:focus{
  background-color: #4285F4;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0);
  box-sizing: border-box;
  box-shadow: 0px 4px 0px rgba(0,0,0,0);
}

.btn-secondary{
  background-color: #FFFFFF;
  color: #4285F4;
  border-radius: 8px !important;
  padding-left: 20px;
  padding-right: 20px;
  min-width: 125px;
  font-size: 16px;
  font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
  border-radius: 4px;
  border: 2px solid #4285F4;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px rgba(0,0,0,0);
  transition-property: box-shadow, color, background-color, border;
  transition-duration: .2s;
}


.btn-secondary:hover{
  background-color: #fff;
  border: 2px solid #4285F4;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #4285F4;
  color: #4285F4;
}

.btn-secondary:active{
  background-color: #fff !important;
  border: 2px solid #4285F4 !important;
  box-sizing: border-box;
  box-shadow: 0px 4px 0px #4285F4 !important;
  color: #4285F4 !important;
}

.btn-secondary:focus{
  background-color: #4285F4;
  border-radius: 4px;
  border: 2px solid rgba(0,0,0,0);
  box-sizing: border-box;
  box-shadow: 0px 4px 0px rgba(0,0,0,0);
}

.login-btn{
  margin-right:15px;
  margin-bottom: 15px;
}

@media (min-width: 576px) {
  .login-btn{
    margin-right:15px;
    margin-bottom: 0px;
  }

}
/* NAVBAR */
.nav-link{
  font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 16px !important;
  color: #333333 !important;
  transition-property: color;
  transition-duration: .4s;
  padding-top: 15px;
  padding-bottom: 15px;
}

@media (min-width: 576px) {
  .nav-link{
    padding-top: 0px;
    padding-bottom: 0px;
  }
}


.nav-link:hover{
  color: #4285F4 !important;
}


.navbar-light .navbar-nav .nav-link a:hover{
color: #4285F4;
}

.item1{
  margin-left: 0px;
}



@media (min-width: 576px) {
  .item1{
    margin-left: 20px;
  }
}

a:active {
  color: #FB356S;
}

/* COLORS CLASSES */
.pink{
  color: #4285F4;
}


.img-hiw{
  width: 200px;
  margin-bottom: 15px;
}

/* HOW IT WORKS */
.how-it-works{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FAFAFA;
}

.how-it-works p{
  font-size: 16px;
}

.how-it-works h4{
  margin-top:10px;
}

.how-it-works h3{
  margin-bottom:45px;
}

.numberCircle {
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 1px;
    background: #333;
    color: #fff;
    text-align: center;
    font-family:"Eina02-Bold" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 16px;
    display: inline-block;
    margin-right: 4px;
}

.hiw-div{
  padding-left: 40px;
  padding-right: 40px;
}

/* DATA ISNT ENOUGH */
.data-isnt-enough{
  background-color: #000;
  padding-top: 120px;
  text-align: center;
  padding-bottom: 120px;
}

.data-isnt-enough-2{
  background-color: #000;
  padding-top: 20px;
  text-align: center;
  padding-bottom: 20px;
}

.white-text{
  color: #fff;
}


/* PEOPLE */
.people{
  padding-top: 100px;
  padding-bottom: 100px;
  background-color: #FFFFFF;
}

.people p{
  font-size: 16px;
}

.img-people{
  height: 180px;
  margin-bottom: 25px;
}

.people h5{
  font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 24px;
}

.people h4{
  font-family:"Eina01-SemiBold" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 20px;
}

/* TO CONCLOUDE*/
.to-conclude{
  background-color: #FAFAFA;
  padding-top: 120px;
  text-align: center;
  padding-bottom: 120px;
}

.to-conclude h5{
  font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 32px;
}

.to-conclude h2{
  font-size: 38px;
}

/* MISSION DIV*/
.about-mission{
  background-color: #FFF;
  padding-top: 60px;
  text-align: center;
  padding-bottom: 80px;
}

.about-mission h6 {
  color: #999999;
  font-family:"Eina01-Light" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 26px;
}
.about-mission h5{
  margin-top:20px;
  margin-bottom:30px;
  font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 28px;
  color: #333;
}

.about-mission p{
  font-family:"Eina01-Light" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 20px;
  color: #333;
}


.our-story-div h3{
  margin-bottom:20px;
}



/* TEAM */
.teammate {
  background-color: #fafafa;
  margin-top:20px;
  height: 260px;
}

@media (min-width: 576px){
  .teammate {
    background-color: #fafafa;
    margin-top:50px;
    height: 260px;
  }
}

.team-div{
    padding-top:70px;
    padding-bottom:20px;
}

@media (min-width: 576px){
  .team-div{
      padding-top:70px;
      padding-bottom:70px;
  }
}

.teammate h6{
  font-family:"Eina01-SemiBold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 16px;
}

.hobbies{
  font-family:"Eina01-SemiBold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.teammate p{
  font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  font-size: 14px;
}

.role {
  margin-bottom:10px;
}


/* LOGO DIV */
.about-logo-div{
  padding-top:100px;
  padding-bottom:120px;
  background-color: #FFFFFF;
}

.big-logo{
  height: 75px;
}

/* FOOTER */
footer{
  padding-top:40px;
  padding-bottom: 40px;
  background-color: #EEE;
}

footer h5{
font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
font-style: normal;
font-size: 14px;
line-height: 27px;
letter-spacing: -0.00460833px;
color: #666666;
}

footer h4{
  font-family:"Eina01-SemiBold" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-style: normal;
  font-size: 16px;
  margin-bottom:5px;
}

@media (min-width: 576px){
  footer h4{
    margin-bottom:15px;
  }
}

footer a{
  font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-style: normal;
  font-size: 16px;
}

footer p{
  margin-bottom:5px;
  font-size: 16px;
}

.extra-top-space-on-mobile{
  margin-top:20px;
}

@media (min-width: 576px){
  .extra-top-space-on-mobile{
    margin-top:0px;
  }
}


/* INDEX PAGE MOVING WORDS */

.rw-words{
	height: 80px;
}

.rw-words span{
	position: absolute;
	opacity: 0;
	overflow: hidden;
	width: 100%;
  font-size: 48px;
  font-family:"Elina02-Bold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #4285F4;
}


.rw-words-2 span{
	animation: rotateWordsSecond 15s cubic-bezier(0.4, 0, 1, 1) infinite 0s;
}
.rw-words span:nth-child(1) {
	animation-delay: 0s;
	color: #4285F4;
}
.rw-words span:nth-child(2) {
	animation-delay: 3s;
	color: #4285F4;
}
.rw-words span:nth-child(3) {
	animation-delay: 6s;
	color: #4285F4;
}
.rw-words span:nth-child(4) {
	animation-delay: 9s;
	color: #4285F4;
}
.rw-words span:nth-child(5) {
	animation-delay: 12s;
	color: #4285F4;
}

@keyframes rotateWordsSecond {
    0% { opacity: 1; animation-timing-function: ease-in; width: 0px; }
    10% { opacity: 0.3; width: 0px; }
	20% { opacity: 1; width: 100%; }
    27% { opacity: 0; width: 100%; }
    100% { opacity: 0; }
}


/* LOGO MOVING */

.bottom-align{
  vertical-align: bottom;
}

.logo-part-4{
  height: 72px;
}

.logo-part-1{
  height: 36.63px;
}

.logo-part-2{
  filter: blur(3px);
  height: 26.72px;
}

.logo-part-3{
height: 26.72px;
}

@media (min-width: 576px){
  .logo-part-1{
    height: 45px;
  }

  .logo-part-2{
    filter: blur(3px);
    height: 33px;
  }

  .logo-part-3{
  height: 33px;
  }
}

#actual-logo:hover #logo-part-2 {
  animation: focusOnO 1.3s cubic-bezier(0.6, -0.28, 0.74, 0.05);
  animation-fill-mode: forwards;
}


 @keyframes focusOnO {
    0% { animation-timing-function: ease-in; height: 33px;}
    /* 5% { filter: blur(4.5px); height: 33px;}
    10% { filter: blur(3px); height: 33px;}
	20% {filter: blur(4px); height: 33px;} */
  40% {filter: blur(6px); height: 33px;}
  60% {filter: blur(8px); height: 33px;}
  80% {filter: blur(2px); height: 33px;}
  100% {filter: blur(0px); height: 33px;}
}


/* Privacy */
.privacy-img{
  height: 280px;
}
.privacy-div{
  padding-top:60px;
  padding-bottom:80px;
}

.privacy-div p{
  font-size: 16px;
}

.privacy-img-div{
  text-align: center;
  display: block;
  margin-bottom: 50px;
}

@media (min-width: 576px){
  .privacy-div{
      padding-top: 110px;
      padding-bottom:80px;
  }
  }


/* CONTACT */



.privacy-div h4{
  font-size: 20px;
  font-family:"Eina01-SemiBold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

.privacy-div h5{
  font-size: 20px;
  font-family:"Eina01-SemiBold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

.privacy-div p{
  font-size: 20px;
  font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  margin-bottom:5px;
}

.contact-info-row{
  margin-bottom: 65px;
}

.contact-intro{
  font-size: 24px;
  font-family:"Eina01-Light" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
}

.contact-intro{
  margin-bottom:65px;
}

/* PRODUCT */
.feature-box-img{
  height: 90px;
  margin-top:10px;
  margin-bottom:40px;
}

@media (min-width: 576px){
  .feature-box-img{
    height: 50px;
    margin-top:30px;
    margin-bottom:40px;
  }
}



.col-feature{
  text-align: center;
  padding: 20px;
  height: 320px;
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  background-color: #fff;
}


.col-feature-out{
  text-align: center;
  padding: 20px;
}

.col-feature > h3{
  font-size: 24px;
  font-family:"Eina01-Bold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  margin-bottom:14px;
}


.col-feature > p{
  font-size: 20px;
  font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
}


.col-feature-long{
  border: 1px solid #EEEEEE;
  border-radius: 8px;
  padding: 20px;
  height: 660px;
}

.col-feature-long-out{
  padding: 20px;
  text-align: center;
}



.feature-long-img{
  height: 125px;
  margin-top:40px;
  margin-bottom:40px;
  text-align: center;
}

.col-feature-long > h3{
  font-size: 24px;
  font-family:"Eina01-Bold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  margin-bottom:14px;
}

.col-feature-long > h4{
  font-size: 20px;
  font-family:"Eina01-SemiBold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333333;
  margin-bottom: 2px;
}

.col-feature-long > p{
  font-size: 20px;
  font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #666666;
}


@media (min-width: 576px){
  .col-feature-out{
    text-align: center;
    padding: 10px;
  }

  .col-feature > h3{
    font-size: 20px;
    font-family:"Eina01-Bold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    margin-bottom:14px;
  }

  .col-feature-long{
    border: 1px solid #EEEEEE;
    border-radius: 8px;
    padding: 15px;
    height: 660px;
  }

  .col-feature-long-out{
    padding: 10px;
    text-align: center;
  }

  .col-feature > p{
    font-size: 16px;
    font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
  }


  .col-feature-long > h3{
    font-size: 20px;
    font-family:"Eina01-Bold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    margin-bottom:14px;
  }

  .col-feature-long > h4{
    font-size: 16px;
    font-family:"Eina01-SemiBold" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #333333;
    margin-bottom: 2px;
  }

  .col-feature-long > p{
    font-size: 16px;
    font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
    color: #666666;
  }


}


.feature-long-div-btn{
  margin-top:30px;
}
.space{
  height: 70px;
}

.features-row{
  text-align: center;
  margin-bottom: 40px;
}

.product-screen{
  margin-top:70px;
  padding: 40px;
  padding-bottom:0px;
}

.easy-peasy-heading{
  margin-bottom:-60px;
}

.team-user-div{
  margin-bottom: 0px;
  padding-left: 20px;
  padding-top:140px;
  padding-right:20px;
  background-color: #F0F0F0;
  padding-bottom:0px;
  margin-top:-70px;
}

.image-bottom{
  margin-bottom:0px;
}

.team-img{
  /* height: 460px; */
}

.text-of-user-team > h3 {
  font-size: 46px;
  font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif;
  color: #333;
}

.text-of-user-team{
  margin-top:100px;
}

@media (min-width: 576px){
  .text-of-user-team{
    margin-top:0px;
  }
}



/* ZOOM DIV */

.zoom-div{
  background-color: #FFF;
  padding-top: 120px;
  text-align: center;
  padding-bottom: 120px;
}

.zoom-div h5{
  font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
  font-size: 32px;
}

.zoom-div h2{
  font-size: 32px;
}

.zoom-div{
  padding: 80px;
}

.zoom-logo{
  width: 70px;
  margin-bottom: 20px;
}

.product-screen-img{
  width: 100%;
}
/* miscellaneous */
.pointer {cursor: pointer;}
.image-404{height: 300px;}
.align-center{
  text-align: center;
}
.back-to-home{
  margin-bottom:100px;
}
.full-width{
  width: 100%;
}


/* DEMO FORM */
.form-control{
  height: 55px;
  color: #333;
  padding-left:20px;
  border: 1px solid #DDDDDD;
  font-size: 16px;
  font-family:"Eina01-Regular" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.form-control:focus {
  border: 2px solid #4285F4;
  box-shadow: none;
  color: #333;
}
.form-group{
  margin-bottom: 24px;
}
.demo-intro{
  margin-bottom:30px;
}
.big-button{
  padding-top:12px;
  padding-bottom:12px;
}

.form-group h4{
  font-size:14px;
  font-family:"Eina01-SemiBold" ,"Helvetica Neue", Helvetica, Arial, sans-serif !important;
}

.demo-div{
  padding-top:30px;
  padding-bottom:80px;
}

.demo-div p{
  font-size: 16px;
}


@media (min-width: 576px){
  .demo-div{
      padding-top: 50px;
      padding-bottom:80px;
  }
}

.social-links a{
  margin-left: 10px;
  margin-right: 10px;
}

.social-links h5{
  margin-right: 10px;
}

.social-links{
  margin-bottom: 20px;
}

.video-js-responsive-container.vjs-hd {
    padding-top: 56.25%;
}
.video-js-responsive-container.vjs-sd {
    padding-top: 75%;
}
.video-js-responsive-container {
    width: 100%;
    position: relative;
}
.video-js-responsive-container .video-js {
    height: 100% !important; 
    width: 100% !important;
    position: absolute;
    top: 0;
    left: 0;
}

video {
  width: 100% !important;
  height: auto !important;
}

.demo {
    background-color: #FFF;
    padding-top: 30px;
    text-align: center;
    padding-bottom: 0px;
}